@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$font-stack: 'Roboto Slab', serif;
$dk-gray: #303030;
$natl-color: #5d935f;
$state-color: #b27c25;
$city-color: #d36d56;	
$h4-size: 16px;

* {
	font-family: $font-stack;
}

body {
	background-image: url('yosemite.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 85%;
  align-items: flex-start;
  margin: 0 auto;
  color: $dk-gray;
}
.state {
	width: 200px;
	margin: 15px;
	background-color: rgba(255, 255, 255, 0.7);
	border: solid 2px $natl-color;
	padding: 10px;
	border-radius: 10px;
	h3 {
		text-transform: uppercase;
		margin: 5px;
	}
	a {
		text-decoration: none;
		color: $dk-gray;
	}
	a:visited {
		color: $dk-gray;
	}

}
.park {
	form {
		display: inline;
	}
}
.heading {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	width: 85%;
	align-items: center;
	margin: 0 auto;
	.key, .options, #new-account, #log-in, #user-msg{
		width: 100%;
	}
	h1 {
		margin-right: 15px;
	}
	a {
		text-decoration: none;
		color: $dk-gray;
	}
	a:visited, a:active {
		color: $dk-gray;
	}
}

@mixin pk-colors($color){
	.fa-tree {
		color: $color;
	}
	a:hover {
		color: $color;
	}
}
.national-pk {
	@include pk-colors($natl-color);
}
.state-pk {
	@include pk-colors($state-color);
}
.city-pk {
	@include pk-colors($city-color);
}
.button {
	background-color: lighten($natl-color, 15%);
	width: 100px;
	margin: 10px;
	border: none;
	border-radius: 10px;
	&:hover{
		cursor: pointer;
		background-color: $natl-color;
	}
	h4 {
		margin: 12px;
	}
}
.fa-angle-down, .fa-angle-up, .fa-circle-o, .fa-check-circle-o {
	cursor: pointer;
}
#natl {
	color: $natl-color;
}
#st {
	color: $state-color;
}
#cty {
	color: $city-color;
}
h4 {
	font-size: $h4-size;
}
.large {
	font-size: $h4-size;
	padding: 5px;
	margin: 10px;
}
.login, .createAcct, .logout {
	border-radius: 10px;
	background-color: lighten($state-color, 30%);
	&:hover {
		background-color: lighten($state-color, 15%);
	}
}
#log-in button, #new-account button {
	background-color: lighten($state-color, 30%);
	border: none;
	padding: 10px;
	width: 100px;
	border-radius: 10px;
	&:hover {
		cursor: pointer;
		background-color: lighten($state-color, 15%);
	}
}
#new-account, #log-in {
	display: none;
}
#user-msg {
	font-style: italic;
}
.checkbox {
	color: $dk-gray;
	&:hover {
		cursor: pointer;
	}
}
#visited, #unvisited {
	color: $dk-gray;
}


