@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
* {
  font-family: "Roboto Slab", serif; }

body {
  background-image: url("img/naturalwhite.png");
  background-size: 500px;
  background-repeat: repeat;
  background-position: center top; }

.list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 85%;
  align-items: flex-start;
  margin: 0 auto;
  color: #303030; }

.state {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 2px #cccccc;
  padding: 10px;
  border-radius: 10px; }
  .state h3 {
    text-transform: uppercase;
    margin: 5px;
    margin-left: 0px; }
  .state a {
    text-decoration: none;
    color: #303030;
    font-size: 14px; }
  .state a:visited {
    color: #303030; }

.park form {
  display: inline; }

.heading {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 85%;
  align-items: center;
  margin: 0 auto; }
  .heading .key, .heading .options, .heading #new-account, .heading #log-in, .heading #user-msg {
    width: 100%; }
  .heading h1 {
    margin-right: 15px; }
  .heading a {
    text-decoration: none;
    color: #303030; }
  .heading a:visited, .heading a:active {
    color: #303030; }

.national-pk .fa-tree {
  color: #5d935f; }
.national-pk a:hover {
  color: #5d935f; }

.state-pk .fa-tree {
  color: #b27c25; }
.state-pk a:hover {
  color: #b27c25; }

.city-pk .fa-tree {
  color: #d36d56; }
.city-pk a:hover {
  color: #d36d56; }

.button {
  background-color: #88b48a;
  width: 100px;
  margin: 10px;
  border: none;
  border-radius: 10px; }
  .button:hover {
    cursor: pointer;
    background-color: #5d935f; }
  .button h4 {
    margin: 12px; }

.fa-angle-down, .fa-angle-up, .fa-circle-o, .fa-check-circle-o {
  cursor: pointer; }

#natl {
  color: #5d935f; }

#st {
  color: #b27c25; }

#cty {
  color: #d36d56; }

h4 {
  font-size: 16px; }

.large {
  font-size: 16px;
  padding: 5px;
  margin: 10px; }

.login, .createAcct, .logout {
  border-radius: 10px;
  background-color: #e7c389; }
  .login:hover, .createAcct:hover, .logout:hover {
    background-color: #d9a34a; }

#log-in button, #new-account button {
  background-color: #e7c389;
  border: none;
  padding: 10px;
  width: 100px;
  border-radius: 10px; }
  #log-in button:hover, #new-account button:hover {
    cursor: pointer;
    background-color: #d9a34a; }

#new-account, #log-in {
  display: none; }

#new-account p {
  font-style: italic;
  color: gray;
  font-size: 14px; }

#user-msg {
  font-style: italic; }

.checkbox {
  color: #303030; }
  .checkbox:hover {
    cursor: pointer; }

#visited, #unvisited {
  color: #303030; }

.usa {
  margin: 15px;
  border-radius: 10px; }

.al {
  background: url("img/al.jpg") center/cover; }

.ak {
  background: url("img/ak.jpg") center/cover; }

.ar {
  background: url("img/ar.jpg") center/cover; }

.az {
  background: url("img/az.jpg") center/cover; }

.ca {
  background: url("img/ca.jpg") center/cover; }

.co {
  background: url("img/co.jpg") center/cover; }

.ct {
  background: url("img/ct.jpg") center/cover; }

.de {
  background: url("img/de.jpg") center/cover; }

.fl {
  background: url("img/fl.jpg") center/cover; }

.ga {
  background: url("img/ga.jpg") center/cover; }

.hi {
  background: url("img/hi.jpg") center/cover; }

.id {
  background: url("img/id.jpg") center/cover; }

.il {
  background: url("img/il.jpg") center/cover; }

.in {
  background: url("img/in.jpg") center/cover; }

.ia {
  background: url("img/ia.jpg") center/cover; }

.ks {
  background: url("img/ks.jpg") center/cover; }

.ky {
  background: url("img/ky.jpg") center/cover; }

.la {
  background: url("img/la.jpg") center/cover; }

.me {
  background: url("img/me.jpg") center/cover; }

.md {
  background: url("img/md.jpg") center/cover; }

.ma {
  background: url("img/ma.jpg") center/cover; }

.mi {
  background: url("img/mi.jpg") center/cover; }

.mn {
  background: url("img/mn.jpg") center/cover; }

.ms {
  background: url("img/ms.jpg") center/cover; }

.mo {
  background: url("img/mo.jpg") center/cover; }

.mt {
  background: url("img/mt.jpg") center/cover; }

.ne {
  background: url("img/ne.jpg") center/cover; }

.nv {
  background: url("img/nv.jpg") center/cover; }

.nh {
  background: url("img/nh.jpg") center/cover; }

.nj {
  background: url("img/nj.jpg") center/cover; }

.nm {
  background: url("img/nm.jpg") center/cover; }

.ny {
  background: url("img/ny.jpg") center/cover; }

.nc {
  background: url("img/nc.jpg") center/cover; }

.nd {
  background: url("img/nd.jpg") center/cover; }

.oh {
  background: url("img/oh.jpg") center/cover; }

.ok {
  background: url("img/ok.jpg") center/cover; }

.or {
  background: url("img/or.jpg") center/cover; }

.pa {
  background: url("img/pa.jpg") center/cover; }

.ri {
  background: url("img/ri.jpg") center/cover; }

.sc {
  background: url("img/sc.jpg") center/cover; }

.sd {
  background: url("img/sd.jpg") center/cover; }

.tn {
  background: url("img/tn.jpg") center/cover; }

.tx {
  background: url("img/tx.jpg") center/cover; }

.ut {
  background: url("img/ut.jpg") center/cover; }

.vt {
  background: url("img/vt.jpg") center/cover; }

.va {
  background: url("img/va.jpg") center/cover; }

.wa {
  background: url("img/wa.jpg") center/cover; }

.wv {
  background: url("img/wv.jpg") center/cover; }

.wi {
  background: url("img/wv.jpg") center/cover; }

.wy {
  background: url("img/wy.jpg") center/cover; }

/*# sourceMappingURL=parks.css.map */
